@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*, li, a {
    font-family: 'Iceland', cursive;
}

body {
    background-image: url('../assets/background.png');
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

li, p {
    font-size: 1.5rem;
}

.planet-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 80%;
    color: white;
}

img {
    width: 100%;
    border-radius: 15%;
}

footer {
    height: 70px;
    padding-bottom: 5px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../assets/background.png');
}

a:hover {
    color: chartreuse;
}
