@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*, li, a {
    font-family: 'Iceland', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
}

body {
    background-image: url('../assets/background.png');
    color: white;
}

#planets {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 80%;
    color: white;
}

img {
    width: 70%;
    border-radius: 15%;
}

img:hover {
    border: 2px solid chartreuse;
}

#planet:hover {
    color: chartreuse;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}